// Kolory
$white: #FFFFFF;
$black: #000000;
$primary-color: #3c78ff;
$secondary-color: #F9FBFE;
$gray-dark: #222222;
$gray-light: #555555;

// Tekst
$font-size-base: 1rem;
$font-size-1: $font-size-base * 4;
$font-size-2: $font-size-base * 2.8;
$font-size-3: $font-size-base * 2;
$font-size-4: $font-size-base * 1.6;
$font-size-5: $font-size-base * 1.5;
$font-size-6: $font-size-base * 1.3;

$line-height-base: 1;
$line-height-sm: 1.75;
$line-height-lg: 2;

$primary-font: 'Rubik';   

// Siatka
$grid-base: 1rem;
$gutter: $grid-base * 1.5;

// Zaokroglenia
$border-radius: $grid-base * .5;

// Breakpoint
$bp-medium: '800px';
$bp-large: '1200px';