* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #555;
}

h1 {
    font-size: 4rem;
    color: gold;
}

.head {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 2rem;
}

.par {
    width: 100%;
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 8rem 16rem;
    color: #fff;
    line-height: 2;
}